body {
    font-family: Comic Sans MS, Comic Sans;
}
.header {
    text-align: center;
}
.col-md-auto #view {
    font-size: 12px;
}

.nav-item .nav-link {
    line-height: 2;
}

.form-control {
    border-radius: 20px;
    text-align: center;
    max-width: 171px;
}