body {
    font-family: Comic Sans MS, Comic Sans, cursive;
}
.header {
    text-align: center;
}
.col-md-auto #view {
    font-size: 12px;
}

.nav-item p {
    margin-top: 12px;
    margin-bottom: 0px;
    }

.nav-item .nav-link {
    line-height: 2;
}

.navbar {
    padding-bottom: 0px;
    padding-top: 0px;
}

.form-control {
    border-radius: 20px;
}

.form-inline .form-control {
    text-align: center;
}

.navbar {

}